extends layout

block content
	form(action='/submit',method='post',enctype='multipart/form-data',id='main-form')
		input#search.form-field(type="search", placeholder="Type in a domain you want", name = "domain")
		span#results
		br
		input#title.form-field(type="text", placeholder="Type in the title of your page", name = "title")
		span#countdown
		br
		input#image(type="file", name="file")
		br
		input#submit(type="submit", value="Go go go!")


	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="/javascripts/main.js")